body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(20,147,220), rgb(17,54,71));
}

.box{
    color: white;
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 22%;
}

fieldset{
    border: 3px solid dodgerblue;
}

legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}

.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}

#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#submit{
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover{
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
}


.exemplo-comment {
    color: rgba(255, 255, 255, 0.544); /* Cor preta com 30% de opacidade */
    font-size: 12px; /* Tamanho da fonte do exemplo */
}


/* Outros estilos existentes */

/* Estilos responsivos */
.box {
    width: 50%; /* Defina a largura da caixa principal */
    max-width: 500px; /* Defina a largura máxima da caixa para evitar que ela se expanda demais */
    margin: 200px auto; /* Centralize a caixa na tela e adicione 30px de margem superior e inferior */
}




/* Estilos específicos para telas menores */
@media screen and (max-width: 768px) {
    .box {
        width: 80%; /* Reduza a largura da caixa para telas menores */
    }
}

@media screen and (max-width: 480px) {
    .inputUser, .labelInput {
        font-size: 14px; /* Reduza o tamanho da fonte para telas pequenas */
    }
    #submit {
        font-size: 16px; /* Reduza o tamanho da fonte para telas pequenas */
        margin-top: 15px; /* Adicione um espaço menor entre o último campo e o botão de envio */
    }
}




/* Estilos responsivos para exemplos comentados */
@media screen and (max-width: 768px) {
    .exemplo-comment {
        font-size: 12px; /* Reduz o tamanho da fonte para telas menores */
    }
}

@media screen and (max-width: 480px) {
    .exemplo-comment {
        font-size: 8px; /* Reduz ainda mais o tamanho da fonte para telas pequenas */
    }
}
