.btn-group {
  margin-bottom: 10px; /* Adiciona espaçamento abaixo do grupo de botões */
}

.btn {
  border-radius: 10px; /* Torna os botões arredondados */
  margin-right: 10px; /* Adiciona espaçamento entre os botões */
  border: none;
  padding: 10px 20px; /* Aumenta o preenchimento interno */
  background: linear-gradient(to bottom, #0f0feb, #261440);
  color: white; /* Define a cor do texto como branco */
  font-weight: bold; /* Torna o texto mais gordinho */
  text-decoration: none; /* Remove o sublinhado padrão */
}

.btn:hover {
  color:  #c0e909;
}

/* O último botão não precisa de margem à direita */
.btn:last-child {
  margin-right: 0;
}




/* Estilo para o link do menu */
.navbar-nav .nav-item .nav-link {
  color: #fff; /* Cor padrão do texto */
  transition: color 0.3s; /* Efeito de transição suave na cor */
}

/* Estilo para o bloco azul ao passar o mouse sobre o menu */
.navbar-nav .nav-item:hover {
  background-color: #001540; /* Cor de fundo azul durante o hover */
  border-radius: 15px; /* Borda arredondada */
  
}

/* Adicione este estilo no seu arquivo CSS ou dentro da tag <style> no cabeçalho do HTML */
.navbar-nav .active {
  background-color: #001540;; /* Cor de destaque do item de menu ativo */
  color: #fff; /* Cor do texto no item de menu ativo */
  border-radius: 15px; /* Borda arredondada */
  
}


/* Estilo para o link do menu no hover */
.navbar-nav .nav-item .nav-link:hover {
  color: #fff; /* Cor branca durante o hover */
}

.menu-item {
  font-size: 20px; /* Tamanho de fonte desejado */
  margin-right: 15px; /* Adiciona margem à direita de cada item do menu */
  margin-left: 15px; /* Adiciona margem à esquerda de cada item do menu */
}

header {
  position: relative;
}


.navbar {
  z-index: 1; /* Coloca o menu sobre a imagem */
}


/* Estilo para o botão de pesquisa */
.hidden {
  display: none;
}

.navbar-toggler {
  background-color: #fff; /* Cor de fundo do botão hambúrguer */
}

.navbar-toggler-icon {
  background-color: #fff; /* Cor do ícone do botão hambúrguer */
}


.custom-navbar {
  background: #003077;  
}

.parallax-sobre {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto; /* Alterado para altura automática para se ajustar ao conteúdo */
  padding: 50px 0; /* Adicionado preenchimento para melhorar o espaçamento do conteúdo */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.corpo {
  margin-top:45px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/img_lampada.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; /* Cor do texto branco */
  font-size: 35px; /* Tamanho do texto maior */
  padding: 5px; /* Espaçamento interno de 0px */
  text-align: justify;
  height: auto; /* Alterado para altura automática para se ajustar ao conteúdo */
  padding: 50px 0; /* Adicionado preenchimento para melhorar o espaçamento do conteúdo */

}

.cards{
  display: flex;
  flex-wrap: wrap;
  margin-left:120px;
  margin-bottom:1rem;
  text-align: justify;
}

/* Estilos para a classe "card" */
.custom-card {
  width: 18rem;
  box-shadow:3px 3px 3px 3px white;
  border-radius: 20px;
  margin-right:2rem;
  margin-bottom:1rem;
  display:block;
}

/* Estilos para a classe "custom-card-body" */
.custom-card-body {
  padding: 1rem;
}

/* Estilos para a classe "custom-card-title" */
.custom-card-title {
  font-size: 1.5rem;
  margin-bottom:1rem;
  text-align:left;
  color:white;
}

/* Estilos para a classe "custom-card-link" */
.custom-card-link {
  color:white;
  text-decoration: none;
}

.custom-card-text{
  font-size:18px;
  font-style:normal;
  font-weight:400;
  text-align: justify;
}


